body{
    background-color: #eee;
}


table{
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

/*Con este selector nosotros le decimos que va a 
seleccionar una fila si y la otra no asi sucesivamente*/
tr:nth-child(even) {
    background-color: #f2f2f2;
}

td{
    border: .1rem solid #ddd;
    padding: .3rem;
}

table th{
    background-color: #4CAF50;
    color: #fff;
    text-align: left;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: .3rem;
    padding-right: .3rem;
}